.crystalImgs{
    width: 40px;
    height: 40px;
}
.header{
    text-align: center;
}
.instructions{
    width: 80%;
    margin:0 10% 0 10%;
    text-align: center;
    font-size: 18px;
}
.footer{
    position: fixed;
    bottom:0;
    height: 35px;
    background-color: lightsteelblue;
    width: 100%;
    font-size: 10px;
}
#messageBox{
    width:40%;
    margin:10px 30% 10px 30%;
    background-color: lightpink;
    text-align: center;
    font-weight: bold;
}

#restartBtn{
    float: right;
    width:40px;
    height: 40px;
    margin:10px 30% 10px 30%;
    background-color: rgb(216, 72, 93);
    text-align: center;;
    border-radius: 50%;
    border-color: black;
}
.scoreBox{
    width:26%;
    margin:10px 37% 10px 37%;
    background-color: lightsteelblue;
}
.container{
    width:85%;
    align-content: center;
}
#walletTotal{
    float: right;
    background-color: rgb(219, 219, 159);
    text-align: right;
    color: darkolivegreen;
    font-size: 50px;
}
#spent{
    float: left;
    background-color: rgb(219, 219, 159);
    text-align: left;
    color: darkolivegreen;
    font-size: 50px;
}
.gemBack{
    background-color: rgb(192, 216, 216);
    margin:0;
}
.gems{
    align-items: center;
}
.gems:hover{
    background-color: rgb(162, 182, 182);
}
.count{
    float:right;
    text-align: right;
    border-bottom: 0px;
}
#scoreHeading{
    font-size: 20px;
    font-weight: bold;
}
#sign{
    float:right;
    margin-right: 5%;
    font-family: 'Unica One', cursive;
    font-size: 18px;
}
#credit{
    margin-left: 5%;
}

.header, .instructions, #messageBox{
    font-family: 'Amatic SC', cursive;
    font-size: 1.7em;
    font-weight: 600;
}

#winsH, #lossesH{
    font-weight: 600;
}